/* Font Styles */
@import url('https://fonts.googleapis.com/css2?family=League+Gothic&family=Poppins:wght@200;500&display=swap');

/* Color Variables */
:root {
    --color1: rgb(216, 212, 212);
    --color2: rgb(247, 247, 247);
    --color3: #161F2A;
}

/* Box Model Hack */
* {
    box-sizing: border-box;
}

/* Responsive font */
html {
    font-size: 62.5%;
  }


/******************************************
/* HEADER
/*******************************************/

header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-image: url('https://omertith.sirv.com/LevelGround%20Site/ring.jpg');
    background-size: cover;
    background-attachment: fixed;
}

header > section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 80vh;
}


nav {
    color: var(--color1);
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 1.5rem;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 10vh;
    width: 90%;
    margin-top: 1em;
    align-items: center;
}

nav a {
    text-decoration: none;
}

nav ul a, nav ul a:visited {
    color: var(--color1);
}

.donate {
    background-color: var(--color1);
    border: none;
    height: 2.5em;
    border-radius: .5em;
    
}

.donate a {
    color: #02508A;
    text-transform: uppercase;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 1.5rem;
}

h1 {
    color: var(--color1);
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 6.8rem;
    text-transform: uppercase;
    text-align: center;
}

header h1 + p {
    color: var(--color1);
    font-family: 'League Gothic';
    font-weight: 400;
    font-size: 2rem;
    line-height: 1.3em;
    text-transform: uppercase;
    letter-spacing: .1em;
    text-align: center;
    width: 85%;
}

header div > span a {
    color: var(--color1);
    font-family: 'Poppins';
    font-weight: 200;
    font-size: 2rem;
    text-decoration: none;
}


/******************************************
/* BODY
/*******************************************/
body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.why {
    height: 65vh;
}

.why, .volunteer {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: var(--color2);
}

.volunteer {
    height: 80vh;
}

.why h2, .volunteer h2 {
    font-size: 5.5rem;
    font-family: 'League Gothic';
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: .3em;
}

.why p, .volunteer p {
    font-family: sans-serif;
    font-size: 1.8rem;
    text-align: center;
    width: 35%;
    line-height: 1.3em;
}

.volunteer p {
    margin-bottom: 2em;
}

/* Cards Section */

.cards {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    background-color: var(--color1);
    height: 100vh;
}

.cards section {
    display: flex;
    flex-direction: column;
    width: 35%;
    height: auto;
    justify-content: center;
}

.card {
    align-items: center;
}

.card img {
    width: 75%;
    height: 30%;
    margin: 4em auto;
}

.cardButton, .volunteer button{
    color: black;
    font-family: 'League Gothic';
    font-weight: 400;
    font-size: 2rem;
    text-transform: uppercase;
    width: 10em;
    height: 3em;
    border: 1px solid rgb(87, 87, 87);
}

.cardButton {
    background-color: var(--color1);
}

.cardButton a, .volunteer a {
    text-decoration: none;
    color: var(--color3);
}

.cardButton a:visited {
    color: var(--color3);
}

h3 {
    font-size: 2.5rem;
    font-family: 'League Gothic';
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 1em;
}

h3 + p {
    font-family: sans-serif;
    font-size: 1.7rem;
    text-align: center;
    width: 80%;
    line-height: 1.2em;
    margin-bottom: 2em;
}

/******************************************
/* FOOTER
/*******************************************/

footer {
    width: 100%;
    height: 30vh;
    background-color: var(--color3);
}

.fa-brands, .fa-solid {
    color: var(--color1);
    font-size: 2.2em;
}

.topFooter {
    display: flex;
    justify-content: space-between;
    margin: 3em;
}

.topFooter section {
    width: 15%;
    display: flex;
    flex-direction: column;
}

.footerNav {
    color: rgb(146, 146, 146);
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-bottom: 1em;
}

.footerNav a {
    text-decoration: none;
    color: var(--color1);
    font-size: 1.5rem;
    text-transform: none;
}

.footerNav h4 {
    margin-bottom: .5em;
}

#social, .footerLinks {
    display: flex;
    justify-content: space-between;
}

address h4 {
    color: var(--color2);
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 1.7rem;
    text-transform: uppercase;
    margin-bottom: 1em;
}

address {
    color: var(--color1);
    font-family: sans-serif;
    font-size: 1.5rem;
    line-height: 1.4em;
}