/* Font Styles */
@import url('https://fonts.googleapis.com/css2?family=League+Gothic&family=Poppins:wght@200;500&display=swap');

/* Box Model Hack */
* {
    box-sizing: border-box;
}

/* Responsive font */
html {
    font-size: 62.5%;
  }


/******************************************
/* HEADER
/*******************************************/

nav {
    color: rgb(216, 212, 212);
    font-family: 'League Gothic';
    font-weight: 400;
    font-size: 2rem;
    display: flex;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
}

nav a {
    text-decoration: none;
}

nav a, nav a:visited {
    color: rgb(216, 212, 212);
}

.donate {
    background-color: rgb(216, 212, 212);
    color: black;
    text-transform: uppercase;
    font-family: 'League Gothic';
    font-weight: 400;
    font-size: 2rem;
    border: none;
}





/******************************************
/* BODY
/*******************************************/
body {
    margin: 0 5%;
}

/******************************************
/* FOOTER
/*******************************************/
